/* COLOR - RGB */
#color-rgb-bg {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

#color-rgb-e1 {
  width: 236px;
  height: 236px;
  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-size: 240px;
  background-image: url("../../assets/round-img.svg");
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* COLOR - RGBA */

#color-rgba-bg {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

#color-rgba-e1 {
  width: 236px;
  height: 236px;
  border-radius: 50%;
  background-position: center;
  background-color: #757575;
  background-size: 240px;
  background-image: url("../../assets/round-img.svg");
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* COLOR - HEX */

#color-hex-bg {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

#color-hex-e1 {
  width: 236px;
  height: 236px;
  border-radius: 50%;
  background-position: center;
  background-color: #000000;
  background-size: 240px;
  background-image: url("../../assets/round-img.svg");
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* TEXT - COLOR */

#text-color-bg {
  width: 593px;
  height: 424px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-image: url("../../assets/bg-editor-text.png");
  background-size: 514px 300px;
  background-repeat: no-repeat;
  border-radius: 8px;
  border: none;
}

#text-color-e1 {
  color: #595959;
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  width: 80%;
}

#text-color-e1::before {
  content: "HELLO!";
}
/* TEXT - ALGINMENT */

#text-alignment-bg {
  width: 593px;
  height: 424px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-image: url("../../assets/bg-editor-text.png");
  background-size: 514px 300px;
  background-repeat: no-repeat;
  border-radius: 8px;
  border: none;
}

#text-alignment-e1 {
  width: 80%;
  text-align: left;
  font-size: 64px;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 20px;
}
#text-alignment-e1::before {
  content: "LEFT";
}
#text-alignment-e2 {
  width: 80%;
  text-align: left;
  text-decoration: none;
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 20px;
}
#text-alignment-e2::before {
  content: "RIGHT";
}

/* TEXT - DECORATION */
#text-decoration-bg {
  width: 593px;
  height: 424px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-image: url("../../assets/bg-editor-text.png");
  background-size: 514px 300px;
  background-repeat: no-repeat;
  border-radius: 8px;
  border: none;
}

#text-decoration-e1 {
  width: 80%;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 20px;
  text-decoration: underline;
}

#text-decoration-e1::before {
  content: "OVER";
}
#text-decoration-e2 {
  width: 80%;
  text-align: right;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
}
#text-decoration-e2::before {
  content: "UNDER";
}

/* TEXT - TRANSFORM */
#text-transform-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-image: url("../../assets/bg-editor-text.png");
  background-size: 514px 300px;
  background-repeat: no-repeat;
  border-radius: 8px;
  border: none;
}

#text-transform-e1 {
  width: 80%;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 20px;
  text-decoration: underline;
  text-transform: uppercase;
}

#text-transform-e1::before {
  content: "Ovo";
}
#text-transform-e2 {
  width: 80%;
  text-align: right;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}
#text-transform-e2::before {
  content: "mMm";
}
#text-transform-e3 {
  width: 80%;
  text-align: left;
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 20px;
  text-transform: lowercase;
}
#text-transform-e3::before {
  content: "recipient’s ADDRESS";
}
#text-transform-e4 {
  width: 80%;
  text-align: justify;
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 32px;
  text-transform: capitalize;
}
#text-transform-e4::before {
  content: "lorem ipsum dolor sit amet, consectetur adipiscing elit. nullam posuere leo mi, vitae pretium urna finibus eget. morbi fringilla iaculis fringilla. vestibulum dignissim tempus pellentesque. aenean sagittis aliquet tempus. Proin eu iaculis dolor. Etiam lacinia nunc eu enim egestas, quis viverra elit aliquam. ";
}

/* BACKGROUND - COLOR */

#background-color-bg {
  width: 100%;
  height: 100%;
  background-color: #24942f;
  display: flex;
  justify-content: center;
  align-items: center;
}

#background-color-e1 {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: 264px;
  background-repeat: no-repeat;
  background-image: url("../../assets/triangle-img.png");
}

/* BACKGROUND - REPEAT */

#background-repeat-bg {
  width: 100%;
  height: 100%;
  background-color: #fffdf1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#background-repeat-e1 {
  width: 100%;
  height: 100%;
  background-size: 141px;
  background-repeat: no-repeat;
  background-image: url("../../assets/triangle-img.png");
}

/* BACKGROUND - POSITION */
#background-position-bg {
  width: 100%;
  height: 100%;
  background-color: #fffdf1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#background-position-e1 {
  width: 100%;
  height: 100%;
  background-size: 141px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../assets/triangle-img.png");
}
#background-position-e2 {
  width: 100%;
  height: 100%;
  background-size: 141px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../assets/triangle-img.svg");
}

/* BORDER - WIDTH */
#border-width-bg {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

#border-width-e1 {
  width: 240px;
  height: 240px;
  background-size: 240px;
  border-color: #f87060;
  border-style: solid;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../assets/round-img.png");
}

/* BORDER - RADIUS */
#border-radius-bg {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

#border-radius-e1 {
  width: 240px;
  height: 240px;
  background-color: #f87060;
  background-position: center;
  background-size: 240px;
  background-image: url("../../assets/round-img.svg");
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* BORDER - STYLE */
#border-style-bg {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#border-style-e1 {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  border-color: #000;
  border-width: 15px;
  background-color: #0e438b;
  background-position: center;
  background-size: 132px;
  background-image: url("../../assets/round-img.svg");
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-right: 50px;
}

.answer-border-style-e1 {
  border-style: solid;
}

#border-style-e2 {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  border-color: #000;
  border-width: 15px;
  background-color: #f87060;
  background-position: center;
  background-size: 132px;
  background-image: url("../../assets/round-img.svg");
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-right: 50px;
}

#border-style-e3 {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  border-color: #000;
  border-width: 15px;
  background-color: #24942f;
  background-position: center;
  background-size: 132px;
  background-image: url("../../assets/round-img.svg");
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* BORDER - SHORTHAND */
#border-shorthand-bg {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

#border-shorthand-e1 {
  width: 240px;
  height: 240px;
  background-color: #feeb83;
  background-position: center;
  background-size: 240px;
  background-image: url("../../assets/round-img.svg");
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* BORDER - SIDES */
#border-sides-bg {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

#border-sides-e1 {
  width: 240px;
  height: 240px;
  background-size: 240px;
  background-color: #24942f;
  background-position: center;
  background-image: url("../../assets/round-img.svg");
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* TRANSITION - PROPERTY */
#transition-property-bg {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
#transition-property-e1 {
  width: 144px;
  height: 144px;
  background-color: #f87060;
  background-position: center;
  background-image: url("../../assets/round-img.svg");
  transition-duration: 3s;
}

#transition-property-e1:hover {
  background-color: #0e438b;
}

/* TRANSITION - DURATION */
#transition-duration-bg {
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  padding-left: 32px;
  align-items: center;
}
#transition-duration-e1 {
  width: 144px;
  height: 144px;
  background-color: #24942f;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../assets/round-img.svg");
}

#transition-duration-e1:hover {
  width: 512px;
  background-position: left;
}

/* TRANSITION - TIMING - FUNCTION */
/* #transition-timing-function-bg {
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  padding-left: 32px;
  align-items: center;
}
#transition-timing-function-e1 {
}
#transition-timing-function-e2 {
} */
